<body>
  <div class="text-center">
    <h3>Seek A Seeker</h3>
  </div>
  <div>
    <div class="card-deck">
      <div class="col-12" *ngFor='let profile of profiles'>
        <mat-card class="profile-card">
          <mat-card-header>
            <mat-card-title>{{profile.predisktraits}}</mat-card-title>
            <mat-card-subtitle>{{profile.prefskills}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>{{profile.companies}}</mat-card-content>
          <mat-card-content>{{profile.prevjobs}}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</body>
