<div class = "title">Seeker Sign up Form</div>
<p>Please fill in the below information of the preferred details you're seeking in a finder.</p>
<br>
<div class="seeker-form">
    <mat-form-field appearance="fill">
        <mat-label>Preferred Traits:</mat-label>
        <br>
        <textarea matInput></textarea>
    </mat-form-field>
    <!-- Button Here to submit skills to unordered list area below
    <ul></ul> -->
    <mat-form-field appearance="fill">
        <mat-label>Preferred Skills</mat-label>
        <br>
        <textarea matInput></textarea>
    </mat-form-field>
    <!-- Button Here to submit skills to unordered list area below
    <ul></ul> -->
    <mat-form-field appearance="fill">
        <mat-label>Companies Recruited For:</mat-label>
        <br>
        <textarea matInput></textarea>
    </mat-form-field>
    <!-- Button Here to submit skills to unordered list area below
    <ul></ul> -->
</div>