html,
body {
  height: 100%;
  margin:0;

    /* The image used */
    background-image: url("../assets/images/blur-bottle-bright-building-273238.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

mat-toolbar-row {
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.mat-tab-label, .mat-tab-link {
  color: #ad1457;
}








