<!-- <div>
  <button mat-button> Click Me! </button>
  <button mat-icon-button> Icon </button>
  <button mat-fab> Fab </button>
  <button mat-mini-fab> Mini Fab </button>
</div> -->

<!-- <div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
  <mat-button-toggle value="Angular">Angular</mat-button-toggle>
  <mat-button-toggle value="React">React</mat-button-toggle>
  <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
</div> -->

<div>
<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>
</div>

<!-- <div>
  <mat-icon>face</mat-icon>
</div> -->


<router-outlet></router-outlet>
<app-login></app-login>
<app-signup></app-signup>


