<body>
  <div>
    <div class="card-deck feed">
      <div class="col-12" *ngFor='let profile of profiles'>
        <mat-card class="profile-card">
          <mat-card-header>
            <mat-card-title>{{profile.diskrank}}</mat-card-title>
            <mat-card-subtitle>{{profile.about}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>{{profile.employtype}}</mat-card-content>
          <mat-card-content>{{profile.skills}}</mat-card-content>
          <mat-card-content>{{profile.projects}}</mat-card-content>
          <mat-card-content>{{profile.salary}}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</body>


