  <mat-card class="box">

    <mat-card-content>

    <mat-card-header>
      <mat-card-title>Signup</mat-card-title>
    </mat-card-header>

      <form fxLayout="column">

        <mat-form-field>
          <input type="text" matInput placeholder="First Name" [(ngModel)]="fname" name="First Name"/>
        </mat-form-field>

        <mat-form-field>
          <input type="text" matInput placeholder="Last Name" [(ngModel)]="lname" name="lastname"/>
        </mat-form-field>

        <mat-form-field>
          <input type="phone" required matInput placeholder="Phone" [(ngModel)]="phone" name="phonenumber"/>
          <small> Format: 1-123-456-7890 </small>
        </mat-form-field>

        <mat-form-field>
          <input type="email" required matInput placeholder="Email" [(ngModel)]="email" type="email" name="email"/>
        </mat-form-field>

        <mat-form-field>
          <input type="text" required matInput placeholder="Password" [(ngModel)]="password" name="password"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Are you a finder or seeker?</mat-label>
          <mat-select [(value)]="profiletype" required>
            <mat-option value="finder">I am finding a job.</mat-option>
            <mat-option value="seeker">I am seeking applicants.</mat-option>
          </mat-select>
        </mat-form-field>

      <button mat-stroked-button color="accent" class="btn-block" (click)="verifynum()">Submit</button>

    </form>

  </mat-card-content>

  </mat-card>
