<div class = 'title'>Finder Sign up Form</div>
<p>Your answers to the following questions will help complete your profile to allow seekers to search and review them. The DISC profile will help seekers understand the type of worker you are and how you would fit in  </p>
<br>
<div class="form-container">
    <mat-form-field>
        <mat-label>DISC Ranking</mat-label>
        <mat-select>
          <mat-option>Select Your Top Ranking</mat-option>
          <mat-option value="option1">D</mat-option>
          <mat-option value="option2">I</mat-option>
          <mat-option value="option3">S</mat-option>
          <mat-option value="option4">C</mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <br>
    <mat-checkbox>Full-Time</mat-checkbox>
    <mat-checkbox>Part-Time</mat-checkbox>
    <mat-checkbox>Contract</mat-checkbox>
    <mat-checkbox>Temporary</mat-checkbox>
    <br>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>About Me:</mat-label>
        <br>
        <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Skills</mat-label>
        <br>
        <textarea matInput></textarea>
    </mat-form-field>
    <!-- Button Here to submit skills to unordered list area below
    <ul></ul> -->
    <br>
    <br>
    <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    tickInterval="1000"
    min="1"
    max="150000">Desired Salary</mat-slider>
</div>