
<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile colspan="2">
    <div class="ripple-background">
      <div class="circle xxlarge shade1"></div>
      <div class="circle xlarge shade2"></div>
      <div class="circle large shade3"></div>
      <div class="circle medium shade4"></div>
      <div class="circle small shade5"></div>
    </div>

    <app-signup></app-signup>

      <!-- <div class="rightside">
        <mat-card>
          <mat-card-title>Signup</mat-card-title>
          <mat-card-content>
            <form>
              <p>
                <mat-form-field>
                  <input type= "text" placeholder="First Name" [(ngModel)]= "fname">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type= "text" placeholder="Last Name" [(ngModel)]= "lname">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type= "text" placeholder="Phone" [(ngModel)]= "phone">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type= "text" placeholder="Email" [(ngModel)]= "email">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type= "text" placeholder="Password" [(ngModel)]= "password">
                </mat-form-field>
              </p>

              <p *ngIf="error" class="error">
                {{ error }}
              </p>

              <div class="button">
                <button (click)="signup()">Click to Signup</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div> -->


</mat-grid-tile>

</mat-grid-list>



<!-- rowHeight guttersize -->
